<div class="customers-page">
    <header class="header-row">
      <h1>Customers</h1>

      <div class="search-wrapper">
        <span class="icon-search">🔍</span>
        <input
         type="text"
        placeholder="Search by name or email"
        [(ngModel)]="searchText"
        (keyup.enter)="onSearch()"
        />
        <i class="icon-search"></i>
      </div>
    </header>
  
    <!-- Toolbar -->
    <section class="toolbar">
      <div class="toolbar-left">
        <select
          class="pill-select"
          [(ngModel)]="statusFilter"
        >
          <option value="All">Status</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
  
        <button mat-raised-button color="primary" (click)="openAddCustomer()" class="primary-btn">+ Add Customer</button>
      </div>
  
      <button
        class="link-btn"
        type="button"
        (click)="resetFilters()"
      >
        Reset filters
      </button>
    </section>
  
    <!-- Table -->
    <section class="table-card">
      <table>
        <thead>
          <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined</th>
            <th>Status</th>
            <th class="col-action">Action</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let c of filteredCustomers">
            <td>{{ c.UserID }}</td>
            <td>{{ c.FirstName + ' ' + c.LastName }}</td>
            <td>{{ c.Email }}</td>
            <td>{{ c.Joined }}</td>
            <td>
              <span
                class="status-badge"
                [ngClass]="c.Status.toLowerCase()"
              >
                {{ c.Status }}
              </span>
            </td>
            <td class="col-action">
              <button class="icon-btn" title="Edit">✏️</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="table-footer">
        <span>Showing 1–{{ filteredCustomers.length }} of {{ customers.length }} customers</span>
        <div class="pagination">
          <button class="page-btn active">1</button>
          <span class="page-count">{{ customers.length }}</span>
          <button class="page-btn">&lt;</button>
          <button class="page-btn">&gt;</button>
        </div>
      </div>
    </section>
  </div>
  