<section class="login-wrapper">
  <div class="login-card">
    <h1 class="login-title">WebLib</h1>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
      <div style="color: red;" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>

      <div class="field">
        <input
          id="username"
          type="text"
          name="username"
          [(ngModel)]="model.username"
          #u="ngModel"
          required
          placeholder="Username"
        />
      </div>

      <div class="field">
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="model.password"
          #p="ngModel"
          required
          placeholder="Password"
        />
      </div>

      <button type="submit" class="login-btn">Log in</button>

      <div class="login-row">
        <label><input type="checkbox" /> Remember me</label>
        <a class="small-link" href="/forgot-password">Forgot Password?</a>
      </div>

      <div class="signup-row">
        <span>Dont have an account?</span>
        <a class="small-link" href="/register">Sign up</a>
      </div>
    </form>
  </div>

</section>
