    <mat-card class="card">
      <div class="card">
        <mat-card-title>
          <div class="card-title">
            <span>Dashboard</span>
          </div>
        </mat-card-title>
      </div>
      <div class="tile-container">
        <mat-card class="tile" *ngFor="let item of items">
          <mat-card-header>
            <mat-card-title><mat-icon class="{{item.class}}">{{item.icon}}</mat-icon>{{ item.title }}</mat-card-title>
            <app-hamburger-menu></app-hamburger-menu>
          </mat-card-header>
          <mat-card-content class="{{item.class}}">
            {{ item.description }}
          </mat-card-content>
          <button
            type="button"
            class="{{item.buttonClass}}"
          >
            {{item.buttonText}}
          </button>
        </mat-card>
      </div>
    </mat-card>