/* src/styles.scss */

@use '@angular/material' as mat;

/* Global Material 3 theme */
html {
  @include mat.theme((
    // use any of the built-in palettes: $red-palette, $violet-palette, etc.
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0, // 0 to -5 (more negative = more compact)
  ));
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}